---
import { getCollection } from 'astro:content';
import '../../styles/global.css';

const posts = await getCollection('posts');
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Posts</title>
    </head>
    <body>
        <main>
            <h1>Posts</h1>
            <ul>
                {posts.map((post) => (
                    <li>
                        <a href={`/posts/${post.slug}`}>{post.data.title}</a>
                        <p>{post.data.description}</p>
                    </li>
                ))}
            </ul>
        </main>
    </body>
</html>

